ruwiki-20240520-pages-articles-multistream.xml
ruwiki-20240520-pages-articles-multistream-index.txt
temp.xml
data/models/speech_rec/large_rec
venv
test.py
.tests
code
compiled_code.py
file.txt
main.py
peps.py
ser_test.py
tets.py
textsbor.py
wikipedia_articles.txt