attrs==23.2.0
beautifulsoup4==4.12.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
dill==0.3.8
docopt==0.6.2
filelock==3.14.0
fuzzywuzzy==0.18.0
idna==3.7
jsonable==0.3.1
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
Levenshtein==0.25.1
mwcli==0.0.3
mwparserfromhell==0.6.6
mwtypes==0.3.2
mwxml==0.3.3
nlp==0.4.0
numpy==1.26.4
pandas==2.2.2
para==0.0.8
pyarrow==16.1.0
PyAudio==0.2.14
pycparser==2.22
python-dateutil==2.9.0.post0
python-Levenshtein==0.25.1
pytz==2024.1
pywin32==306
rapidfuzz==3.9.1
referencing==0.35.1
requests==2.32.2
rpds-py==0.18.1
six==1.16.0
soupsieve==2.5
srt==3.5.3
tqdm==4.66.4
tzdata==2024.1
urllib3==2.2.1
vosk==0.3.45
websockets==12.0
wikipedia==1.4.0
xxhash==3.4.1